@charset "UTF-8";
/* sass 변수 정의  */
/************************************************************/
/* 태마 컨셉 컬러 */
/* 태마 컨셉 컬러의 어두운 컬러로 버튼 테두리 컬러*/
/* 태마 컨셉 라인 & 폰트 컬러 */
/* 태마 일반 dark 폰트 컬러 */
/* light 폰트 컬러 */
/* 상품 상세 하단 셀렉 박스 선택 될때 배경 컬러 */
/* 상품 상세 하단 셀렉 박스 선택 될때 폰트 컬러 */
body {
  background-color: #fff; }

.article_top {
  background-color: #F9F9F9; }
  .article_top .product_img {
    position: relative;
    width: 100%;
    height: 6.390625rem; }
  .article_top .product_info {
    width: 9.296875rem;
    margin-top: 0.5rem;
    padding-bottom: 0.328125rem; }
    .article_top .product_info .name {
      line-height: 0.34375rem;
      font-size: 0.28125rem; }
    .article_top .product_info .brand_name {
      color: #959595; }
    .article_top .product_info .product_name {
      line-height: 0.703125rem;
      font-size: 0.578125rem; }
    .article_top .product_info .price_line {
      align-items: flex-end;
      margin-top: 0.4375rem; }
      .article_top .product_info .price_line .product_notice {
        font-size: 0.375rem;
        transform: translate(0, -130%);
        color: #959595; }
      .article_top .product_info .price_line .after_price {
        font-weight: bold;
        font-size: 0.5625rem; }

.article_bottom .content li {
  padding: 0.59375rem 0.46875rem; }
  .article_bottom .content li p {
    line-height: 0.453125rem;
    font-size: 0.375rem;
    color: rgba(0, 0, 0, 0.5); }

/* btn_container */
.btn_container .btn_box {
  padding-top: 0.4375rem; }

.icon_btn_slide {
  position: absolute;
  top: -0.1171875rem;
  left: 50%;
  margin-left: -0.703125rem;
  width: 1.40625rem; }

.btn_option {
  padding: 0.5rem 0.390625rem 0;
  background-color: #00498C;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem; }

.quantity_box {
  height: 1.2578125rem;
  width: 100%;
  background-color: #fff; }
  .quantity_box a {
    width: 1.25rem;
    height: 100%;
    font-size: 0.71875rem; }
  .quantity_box p {
    height: 100%;
    width: 6.78125rem;
    font-size: 0.46875rem; }
  .quantity_box .border_right {
    border-right: 0.015625rem solid #303030; }

.total_price {
  padding-top: 0.46875rem;
  text-align: right;
  font-weight: 0.546875rem;
  font-size: 0.578125rem;
  color: #fff; }

/* alert */
.alert .bg_shadow {
  padding-top: 3.125rem; }
.alert .modal_box {
  padding-bottom: 0.625rem; }
  .alert .modal_box .title {
    padding-top: 1.015625rem;
    font-weight: bold;
    font-size: 0.546875rem;
    color: #00498C; }
  .alert .modal_box .alert_content {
    width: 7.1875rem;
    padding: 0.765625rem 0;
    line-height: 0.5rem;
    font-weight: lighter;
    font-size: 0.40625rem;
    color: #00498C; }
  .alert .modal_box .btn_group {
    width: 7.1875rem;
    height: 1.25rem; }
    .alert .modal_box .btn_group a {
      width: 3.4375rem;
      height: 100%;
      background-color: #00498C; }
      .alert .modal_box .btn_group a p {
        font-weight: lighter;
        font-size: 0.375rem;
        color: #fff; }
      .alert .modal_box .btn_group a.btn_one {
        width: 100%; }
    .alert .modal_box .btn_group .btn_left {
      background-color: #fff;
      box-sizing: border-box;
      border: 2px solid #00498C; }
      .alert .modal_box .btn_group .btn_left p {
        color: #00498C; }
.inventory {
  position: absolute;
  left: 0.390625rem;
  bottom: 1.71875rem;
  font-weight: lighter;
  font-size: 0.40625rem;
  color: #fff;
}