<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=0.5"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Echoss Mall</title>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/gift_message_main.css" rel="stylesheet"/>
    <link href="css/utils.css" rel="stylesheet" />
    <link href="stampEffect/stampEffect.css" rel="stylesheet" />
    <script type="text/javascript" src="js/lib/vue.min.js"></script>
    <script type="text/javascript" src="js/px2rem.js"></script>
</head>
<body>
<div class="container">
    <div v-cloak class="container_box flex_column_center">
        <div class="section flex_center" style="padding: 0px;">


            <div v-if="couponDisable" class="disable_box flex_column_center">
                <img class="disable_mark" :src="[couponUsed? 'images/icon_used.png':'images/icon_past.png']"/>
                <ul v-if="couponUsed" class="coupon_used_info flex_center">
                    <li class="flex_column_center">
                        <p class="title">사용일시</p>
                        <p class="content" v-text="usedDate"></p>
                    </li>
                    <li class="flex_column_center">
                        <p class="title">사용처</p>
                        <p class="content" v-text="usedPlace"></p>
                    </li>
                </ul>
                <ul v-if="!couponUsed" class="coupon_past_info flex_center">
                    <li class="flex_column_center">
                        <p class="title">유효기간</p>
                        <p class="content">{{expiryDate}} 까지</p>
                    </li>

                </ul>
            </div>


            <img class="bg_shape bg_left" src="images/shap_bg_2.png"/>
            <img class="bg_shape bg_right" src="images/shap_bg_2.png"/>
            <div class="content_box flex_column_center">
                <!--<p class="h1" v-text="brandName"></p>-->
                <div class="title_container flex_between">
                    <img class="mark_left" src="images/gift_title_bg.png"/>
                    <img class="mark_right" src="images/gift_title_bg.png"/>
                    <p>{{presenter}} 님의 선물</p>
                </div>
                <div class="content flex_column_center">
                    <div class="main_img bg_cover" :style="{backgroundImage:'url('+ imgUrl +')'}"></div>
                    <p class="gift_name" v-text="giftName"></p>
                    <img class="shape_gift" src="images/icon_shap_gift.png"/>

                    <p class="gift_number" v-if="coupon_use_type_pinNo" v-text="coupon_use_type_pinNo_text" v-on:click="coupon_pinNo_use" style=" width: 7.54375rem!important; "></p>
                    <p v-if="coupon_use_type_pinNo && !couponDisable" style="font-size: 0.34375rem;padding: 10px 0 0 0;">
                        * 쿠폰번호를 확인하시면 쿠폰사용완료로 간주합니다.
                    </p>

                    <p class="validity" v-text="giftValidity"></p>

                    <!-- 2 -->
                    <div v-if="coupon_use_type_barcode" class="bar_code_type type_use flex_center">
                        <barcode height="120px" :value="pinNo" tag="img"></barcode>
                    </div>
                    <!-- 9 -->
                    <div v-if="coupon_use_type_stamp" class="stamp_type type_use flex_center">
                        <p class="h4">스탬프를 찍어 사용하세요!</p>
                        <img src="images/icon_gift_stamp.png"/>
                        <p class="text">
                            스탬프 이용매장은<br/>
                            본 화면에 스탬프를 찍어주세요.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end of .container_box -->

    <div is="popup" :popdata="popdata"></div>
    <div :loading_type="loading_type" is="loading"></div>
</div>

<script type="text/javascript" src="http://61.35.35.203:45270/resource/js/pointMall-api.js"></script>
<script type="text/javascript" src="https://developer.echoss.co.kr/sdk/echoss-lite-min.js"></script>
<script type="text/javascript" src="dist/vue-barcode.js"></script>
<script type="text/javascript" src="js/lib/utils.js"></script>
<script type="text/javascript" src="stampEffect/stampEffect.js"></script>
<script type="text/javascript" src="js/gift_message_main.js"></script>

</body>
</html>