<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=0.5"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Echoss Mall</title>
    <link href="css/utils.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/gift_message.css" rel="stylesheet"/>
    <script type="text/javascript" src="js/lib/vue.min.js"></script>
    <script type="text/javascript" src="js/px2rem.js"></script>
</head>
<body>
<div class="container">
    <div v-cloak class="container_box flex_column_center" style="padding-bottom: 1.34375rem;">

        <div v-for="item in bannerlist " style="display: contents;" >

            <img v-if="item.type == 'img' " :src="item.url" style="width: 100%;"/>

            <iframe v-if="item.type == 'video' " style="width: 100%; height: 280px;" :src="item.url"
                    frameborder="0" allow="autoplay; encrypted-media"></iframe>

        </div>

        <a class="btn_confirm flex_center" :href="gift_message_main_url" >선물보기 ></a>
    </div><!-- end of .container_box -->

    <div is="popup" :popdata="popdata"></div>
    <div is="popupform" :popFormdata="popformdata"></div>
    <div :loading_type="loading_type" is="loading"></div>
</div>
<script type="text/javascript" src="http://61.35.35.203:45270/resource/js/pointMall-api.js"></script>
<script type="text/javascript" src="js/lib/utils.js"></script>
<script type="text/javascript" src="js/gift_message.js" ></script>
</body>
</html>